#root{
    max-width: auto;
    margin: 0 auto;
}

.logo {
    width: 60px;
    height: 50px;
    margin-left: 200px;
}
header{
    display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}
.p{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
